@page
@model PlaneBooking.Pages.Dashboard.Airplanes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Airplane[0].AirPlaneName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airplane[0].IsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Airplane) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AirPlaneName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AirplaneId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AirplaneId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AirplaneId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
