@page
@model PlaneBooking.Pages.Dashboard.Airports.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Airport[0].AirportName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Airport) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AirportName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AirportId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AirportId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AirportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
